<link rel="stylesheet" type="text/css" href="/stylesheets/reset-min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/reset-fonts-min.css" />

<link rel="stylesheet" type="text/css" href="/stylesheets/page.css" />

<div class="deck">


    <header class="">

    <h1><%= @data['title'] %></h1>

    <a class="create-link" href="/">+ FD</a>

    <% if @data['spotify_playlist'] != "" %>
        <div id="music">
                <iframe src="https://embed.spotify.com/?uri=<%= @data['spotify_playlist']%>" width="280" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
    <% end %>

</header>

<div id="slot"></div>

<% if @data['tumblr_blog'] != "" %>
    <div id="photos">
        <div class="slider">

        <% @tumblr_posts['response']['posts'][0..6].each do |post| %>
            <% if post["photos"] %>
                <div class="photo">
                    <img src="<%= post["photos"].first["alt_sizes"].first["url"] %>" alt="<%= post["id"] %>" />
                </div>
            <% end %>
        <% end %>

        </div>
    </div>
<% end %>

<div class="clear"></div>

<div id="products">
    <% if @data['etsy_shop_id'] != "" %>

        <% @etsy_products['results'][0..3].each do |product| %>
            <a href="<%= product["url"]%>" target="_blank" class="product">
                <img src="<%= product["MainImage"]["url_570xN"] %>" width="570" />
                <h4><%= product["title"] %></h4>
            </a>
        <% end %>

    <% end %>
<div>

<div class="clear"></div>

<div id="videos">
    <% if @data['vimeo_username'] != "" %>

        <% @vimeo_videos[0..2].each do |video| %>
            <div>
            <iframe src="http://player.vimeo.com/video/<%= video["id"] %>" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        <% end %>
    <% end %>
</div>


</div>
